In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir(".."))

['.conda', '.condarc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.VirtualBox', '3D Objects', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'dvrclient.conf', 'Favorites', 'Links', 'Local Settings', 'Music', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{d21cabec-3dc2-11ea-9876-8aea1d238687}.TM.blf', 'NTUSER.DAT{d21cabec-3dc2-11ea-9876-8aea1d238687}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{d21cabec-3dc2-11ea-9876-8aea1d238687}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'ntuser.pol', 'Pictures', 'PrintHood', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'SkillFactory', 'Untitled.ipynb', 'usb_driver', 'Videos', 'VirtualBox VMs', 'главное меню', 'Мои документы', 'Шаблоны']

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [5]:
len(data)
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

# Предобработка датасета

In [14]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
answer_ls
# сюда можем вписать создание новых колонок в датасете

[]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
data[data.budget==data.budget.max()]
#data.query('imdb_id=="tt1032751"')
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
data[data.runtime==data.runtime.max()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data.runtime==data.runtime.min()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [10]:
data.runtime.mean()
answer_ls.append(3)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [12]:
data.runtime.median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [32]:
data[data.revenue==data.revenue.max()]
#answer_ls.append(5)
answer_ls

[4, 2, 3, 3, 1, 1]

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [36]:
data[(data.budget-data.revenue)==(data.budget-data.revenue).max()]
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [42]:
data[(data.revenue-data.budget)>0].imdb_id.count()
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [80]:
data2008 = data.query('release_year==2008')
data2008[(data2008.revenue-data2008.budget)==(data2008.revenue-data2008.budget).max()]
data2008[(data2008.revenue)==(data2008.revenue).max()]

answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [83]:
data2 = data.query('2012 <= release_year <= 2014')
data2[(data2.budget-data2.revenue)==(data2.budget-data2.revenue).max()]
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [104]:

genres = pd.DataFrame(set(data.genres.str.split('|').sum()), columns = ['genres'])
genres['film_count'] = list(map(lambda x: data[data.genres.str.contains(x, regex = False)].imdb_id.count(),genres['genres']))
genres[(genres.film_count==genres.film_count.max())]

answer_ls.append(3)

   genres  film_count
11  Drama         782

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [117]:
data['profit'] = data.revenue-data.budget
genres = pd.DataFrame(set(data.genres.str.split('|').sum()), columns = ['genres'])
genres['profit'] = list(map(lambda x: data[data.genres.str.contains(x, regex = False)].profit.sum(),genres['genres']))
genres[(genres.profit==genres.profit.max())]
#answer_ls.append(5)

      genres       profit
5  Adventure  85656554550

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [118]:
data.director.value_counts()
answer_ls.append(3)

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Steven Spielberg     10
Shawn Levy           10
                     ..
Jeff Schaffer         1
Patrick Hughes        1
Rodrigo GarcÃ­a       1
Dennie Gordon         1
Sydney Pollack        1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [152]:
data['profit'] = data.revenue-data.budget
#dirs =['Steven Soderbergh', 'Clint Eastwood', 'Steven Spielberg', 'Ridley Scott', 'Christopher Nolan']
#directors=pd.DataFrame(set(dirs), columns = ['director'])
directors=pd.DataFrame(set(data.director.values), columns = ['director'])
directors['profit'] = list(map(lambda x: data[(data.director.str.contains(x, regex = False)) & (data.profit>0)].profit.count(), directors['director']))
directors[(directors.profit==directors.profit.max())]
#answer_ls.append(4)

         director  profit
665  Ridley Scott      12

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [156]:
data['profit'] = data.revenue-data.budget
#dirs =['Steven Spielberg','Christopher Nolan','David Yates','James Cameron','Peter Jackson']
#directors=pd.DataFrame(set(dirs), columns = ['director'])
directors=pd.DataFrame(set(data.director.values), columns = ['director'])
directors['profit'] = list(map(lambda x: data[(data.director.str.contains(x, regex = False)) & (data.profit>0)].profit.sum(), directors['director']))
directors[(directors.profit==directors.profit.max())]
answer_ls.append(5)

          director      profit
696  Peter Jackson  5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [158]:
data['profit'] = data.revenue-data.budget
#actor_list =['Emma Watson','Johnny Depp','Michelle Rodriguez','Orlando Bloom','Rupert Grint']
#actors=pd.DataFrame(set(actor_list), columns = ['actor'])
actors = pd.DataFrame(set(data.cast.str.split('|').sum()), columns = ['actor'])
actors['profit'] = list(map(lambda x: data[(data.cast.str.contains(x, regex = False)) & (data.profit>0)].profit.sum(), actors['actor']))
actors[(actors.profit==actors.profit.max())]
answer_ls.append(1)

           actor      profit
451  Emma Watson  6675368452

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [162]:
data['profit'] = data.revenue-data.budget
#actor_list =['Nicolas Cage','Danny Huston','Kirsten Dunst','Jim Sturgess','Sami Gayle']
#actors=pd.DataFrame(set(actor_list), columns = ['actor'])
actors = pd.DataFrame(set(data.cast.str.split('|').sum()), columns = ['actor'])
actors['profit'] = list(map(lambda x: data[(data.cast.str.contains(x, regex = False)) & (data.profit>0)].profit.sum(), actors['actor']))
actors[(actors.profit==actors.profit.min())]
answer_ls.append(5)

                     actor  profit
3          Sarah Dubrovsky       0
5        Courtney B. Vance       0
6           Lisa Barbuscia       0
8             James Spader       0
9      John Pyper-Ferguson       0
...                    ...     ...
3371         R. H. Thomson       0
3386  Lou Diamond Phillips       0
3389          Joel Gretsch       0
3393           Kate Burton       0
3394           Unax Ugalde       0

[486 rows x 2 columns]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [166]:
data['profit'] = data.revenue-data.budget
#actor_list =['Nicolas Cage','Danny Huston','Kirsten Dunst','Jim Sturgess','Sami Gayle']
#actors=pd.DataFrame(set(actor_list), columns = ['actor'])
actors = pd.DataFrame(set(data.cast.str.split('|').sum()), columns = ['actor'])
actors['budget'] = list(map(lambda x: data[(data.cast.str.contains(x, regex = False)) & (data.budget>data.budget.mean())].profit.count(), actors['actor']))
actors[(actors.budget==actors.budget.max())]
answer_ls.append(3)

           actor  budget
2416  Matt Damon      18

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [168]:
data['profit'] = data.revenue-data.budget
genres = pd.DataFrame(set(data.genres.str.split('|').sum()), columns = ['genre'])
genres['film_cnt'] = list(map(lambda x: data[(data.genres.str.contains(x, regex = False)) & (data.cast.str.contains('Nicolas Cage', regex = False))].imdb_id.count(), genres['genre']))
genres[(genres.film_cnt==genres.film_cnt.max())]
answer_ls.append(2)

    genre  film_cnt
4  Action        17

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [172]:
production_companies = pd.DataFrame(set(data.production_companies.str.split('|').sum()), columns = ['prod_comp'])
production_companies['film_cnt'] = list(map(lambda x: data[(data.production_companies.str.contains(x, regex = False))].imdb_id.count(), production_companies['prod_comp']))
production_companies[(production_companies.film_cnt==production_companies.film_cnt.max())]

#answer_ls.append(1)

      prod_comp  film_cnt
1311  Universal       185

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [175]:
data1=data.query('release_year==2015')
production_companies = pd.DataFrame(set(data1.production_companies.str.split('|').sum()), columns = ['prod_comp'])
production_companies['film_cnt'] = list(map(lambda x: data1[(data1.production_companies.str.contains(x, regex = False))].imdb_id.count(), production_companies['prod_comp']))
production_companies[(production_companies.film_cnt==production_companies.film_cnt.max())]
answer_ls.append(4)

       prod_comp  film_cnt
44  Warner Bros.        12

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [176]:
data['profit'] = data.revenue-data.budget
production_companies = pd.DataFrame(set(data.production_companies.str.split('|').sum()), columns = ['prod_comp'])
production_companies['film_sum'] = list(map(lambda x: data[(data.production_companies.str.contains(x, regex = False)) & (data.genres.str.contains('Comedy', regex = False))].profit.sum(), production_companies['prod_comp']))
production_companies[(production_companies.film_sum==production_companies.film_sum.max())]

answer_ls.append(2)

      prod_comp    film_sum
1311  Universal  9130349034

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [187]:
data['profit'] = data['revenue']-data['budget']
data1=data.query('release_year==2012')
production_companies = pd.DataFrame(set(data1.production_companies.str.split('|').sum()), columns = ['prod_comp'])
production_companies['film_sum'] = list(map(lambda x: data1[(data1.production_companies.str.contains(x, regex = False))].profit.sum(), production_companies['prod_comp']))
production_companies[(production_companies.film_sum==production_companies.film_sum.max())]
answer_ls.append(3)

             prod_comp    film_sum
146  Columbia Pictures  2501406608

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [191]:
data['profit'] = data['revenue']-data['budget']
films = pd.DataFrame(set(data.original_title.values), columns = ['film'])
films['film_sum'] = list(map(lambda x: data[(data.original_title.str.contains(x, regex = False)) & ( data.production_companies.str.contains('Paramount Pictures', regex = False))].profit.sum(), films['film']))
films[(films.film_sum==films.film_sum.min())]
answer_ls.append(1)

                      film  film_sum
961   K-19: The Widowmaker -64831034
1552                     9 -64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [193]:
data.info()
data['profit'] = data['revenue']-data['budget']
profit_year = data.groupby('release_year') 
profit_year = data.groupby('release_year') 
films = pd.DataFrame(set(data.release_year), columns = ['release_year'])
#films['film_sum'] = list(map(lambda x: data[(data.release_year.str.contains(x, regex = False))].profit.sum(), films['release_year']))
#films[(films.film_sum==films.film_sum.min())]
#answer_ls.append(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
 16  profit                1890 non-null   int64
dtypes: float64(2), int64(6), object(9)
memory usage: 251.1+ KB

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
data['profit'] = data['revenue']-data['budget']
films = pd.DataFrame(set(data.original_title.values), columns = ['film'])
 films['film_sum'] = list(map(lambda x: data[(data.original_title.str.contains(x, regex = False)) & ( data.production_companies.str.contains('Paramount Pictures', regex = False))].profit.sum(), films['film']))
films[(films.film_sum==films.film_sum.min())]
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
import datetime
#копируем датафрейм, чтобы не портить основной
data1=data
data1.index =pd.to_datetime(data1['release_date'],format='%m/%d/%Y')
months_df=data1.groupby(by=[data1.index.month]).size().reset_index(name='counts')
monthinteger=months_df.sort_values(['counts'],ascending=False).iloc[0].release_date
month = datetime.date(1900, monthinteger, 1).strftime('%B')
print(month)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
answer_ls.append(1)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [ ]:
answer_ls.append(1)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
answer_ls.append(1)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(1)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(1)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []