In [197]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import combinations
from collections import Counter

In [240]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue-data.budget
genres = pd.DataFrame(set(data.genres.str.split('|').sum()), columns = ['genres'])
directors=pd.DataFrame(set(data.director.values), columns = ['director'])
actors = pd.DataFrame(set(data.cast.str.split('|').sum()), columns = ['actor'])
films = pd.DataFrame(set(data.original_title.values), columns = ['film'])
years = pd.DataFrame(set(data.release_year), columns = ['release_year'])
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
months =  pd.DataFrame(set(data.release_date.dt.month), columns = ['release_months'])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1425,tt0357507,20000000,67192859,Boogeyman,Emily Deschanel|Barry Watson|Skye McCole Bartu...,Stephen Kay,You thought it was just a story.,Every culture has one â€“ the horrible monster...,89,Thriller|Horror|Drama|Mystery,Ghost House Pictures|Senator International|Scr...,2005-02-04,4.5,2005,47192859
1579,tt0290002,80000000,516642939,Meet the Fockers,Ben Stiller|Teri Polo|Robert De Niro|Dustin Ho...,Jay Roach,Misery loves family.,"Hard-to-crack ex-CIA man, Jack Byrnes and his ...",115,Comedy|Romance,DreamWorks SKG|Universal Pictures|Everyman Pic...,2004-12-15,6.1,2004,436642939
1604,tt0356150,25000000,20796847,EuroTrip,Scott Mechlowicz|Jacob Pitts|Michelle Trachten...,Jeff Schaffer,No actual Europeans were harmed in the making ...,When Scott learns that his longtime cyber-budd...,93,Comedy,DreamWorks SKG|The Montecito Picture Company|B...,2004-02-20,6.4,2004,-4203153
650,tt0450314,20500000,10089373,Punisher: War Zone,Ray Stevenson|Dominic West|Julie Benz|Colin Sa...,Lexi Alexander,Vengeance has a name,Waging his one-man war on the world of organiz...,102,Action|Crime,Lionsgate|MHF Zweite Academy Film|Marvel Knigh...,2008-12-05,5.5,2008,-10410627
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,2013-04-18,6.9,2013,1015439994

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [199]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [200]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [201]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
data[data.runtime==data.runtime.max()]
answers['2'] = '2.Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [202]:
data[data.runtime==data.runtime.min()]
answers['3'] = '3. Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [203]:
data.runtime.mean()
answers['4'] ='4. 109.65'

# 5. Каково медианное значение длительности фильмов?

In [204]:
data.runtime.median()
answers['5'] ='5. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [205]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit==data.profit.max()]
answers['6'] ='6. Avatar'

# 7. Какой фильм самый убыточный?

In [206]:
data[(data.profit)==(data.profit).min()]
answers['7'] ='7. The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [207]:
data[(data.revenue>data.budget)].imdb_id.count()
answers['8'] ='8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [208]:
data2008 = data.query('release_year==2008')
data2008[(data2008.profit)==(data2008.profit).max()]
answers['9'] ='9. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [209]:
data2 = data.query('2012 <= release_year <= 2014')
data2[(data2.profit)==(data2.profit).min()]
answers['10'] ='10. The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [210]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
#data.genres.str.split('|').sum()
genres['film_count'] = list(map(lambda x: data[data.genres.str.contains(x, regex = False)].imdb_id.count(),genres['genres']))
genres[(genres.film_count==genres.film_count.max())]
#genres
answers['11'] ='11. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [251]:
genres['profit_count'] = list(map(lambda x: data[(data.genres.str.contains(x, regex = False)) & (data.profit>0)].imdb_id.count(),genres['genres']))
genres[(genres.profit_count==genres.profit_count.max())]
#answers['12'] ='12. Adventure'

   genres       profit  profit_count
14  Drama  49257224159           560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [231]:
directors['revenue'] = list(map(lambda x: data[(data.director.str.contains(x, regex = False))].revenue.sum(), directors['director']))
directors[(directors.revenue==directors.revenue.max())]
answers['13'] ='13. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [212]:
action_movies = data[data.genres.str.contains('Action', na=False)]
directors['count_action'] =list(map(lambda x: action_movies[(action_movies.director.str.contains(x, regex = False))].imdb_id.count(), directors['director']))
directors[(directors.count_action==directors.count_action.max())] 
answers['14'] ='14. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [213]:
actors['profit'] = list(map(lambda x: data[(data.cast.str.contains(x, regex = False)) & (data.profit>0) & (data.release_year==2012) ].profit.sum(), actors['actor']))
actors[(actors.profit==actors.profit.max())]
answers['15'] ='15. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [214]:
actors['budget'] = list(map(lambda x: data[(data.cast.str.contains(x, regex = False)) & (data.budget>data.budget.mean())].profit.count(), actors['actor']))
actors[(actors.budget==actors.budget.max())]
answers['16'] ='16. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [215]:
genres['film_cnt'] = list(map(lambda x: data[(data.genres.str.contains(x, regex = False)) & (data.cast.str.contains('Nicolas Cage', regex = False))].imdb_id.count(), genres['genres']))
genres[(genres.film_cnt==genres.film_cnt.max())]
answers['17'] ='17. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [216]:
films['film_sum'] = list(map(lambda x: data[(data.original_title.str.contains(x, regex = False)) & ( data.production_companies.str.contains('Paramount Pictures', regex = False))].profit.sum(), films['film']))
films[(films.film_sum==films.film_sum.min())]
answers['18'] ='18. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [217]:
data.groupby(['release_year']).revenue.sum().reset_index().sort_values(['release_year'], ascending=[False])
answers['19'] ='19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [218]:
years['revenue'] = list(map(lambda x: data[(data.release_year==x) & ( data.production_companies.str.contains('Warner Bros', regex = False))].profit.sum(), years['release_year']))
years[(years.revenue==years.revenue.max())]
answers['20'] ='20. 2014'
# data[(data.production_companies=='Warner Bros')].groupby(['release_year']).revenue.sum().reset_index().sort_values(['release_year'], ascending=[False])

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [219]:
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
months['films_count'] = list(map(lambda x: data[(data.release_date.dt.month==x)].imdb_id.count(), months['release_months']))
months[(months.films_count==months.films_count.max())]
answers['21'] ='21. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [220]:
months[months.release_months.isin([6,7,8])].sum()
answers['22'] ='22. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [243]:
winter_movie = data[data.release_date.dt.month.isin([12, 1, 2])]
directors['count_winter'] = list(map(lambda x: data[(data.director.str.contains(x, regex = False))].imdb_id.count(), directors['director']))
#directors[(directors.count_winter==directors.count_winter.max())]
directors.sort_values('count_winter')
#answers['22'] ='22. Steven Soderbergh, McG'

                        director  count_winter
360  Chris Williams|Byron Howard             1
443                 Drew Goddard             1
445                 Ryan Coogler             1
446         Nicolas Winding Refn             1
447              Gregory Plotkin             1
..                           ...           ...
322             Robert Rodriguez            11
951               Clint Eastwood            12
303                 Ridley Scott            12
955                          McG            13
808            Steven Soderbergh            13

[957 rows x 2 columns]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [222]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()
answers['24'] ='24. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [245]:
#data['overview_count']= data['original_title'].map(lambda x: len(x))
#data['overview_count'] = data.original_title.apply(lambda x: len(str(x).split(' ')))
#data.groupby('production_companies')['overview_count'].agg(['mean']).sort_values('mean', ascending=False)
#answers['25'] ='25. Twentieth Century Fox Film Corporation|Four By Two Productions'

data['title_length'] = data.original_title.apply(lambda x: len(str(x).split()))
companies = data['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний
sum_gen = pd.Series(dtype='float64', index=companies) # создадим серию для хранения средних значений
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head(20)

Four By Two Productions           12.0
Jim Henson Company, The           10.0
The Saul Zaentz Company            9.0
Dos Corazones                      9.0
Polsky Films                       9.0
Total Entertainment                8.0
3Foot7                             8.0
Museum Canada Productions          8.0
Zohar International                8.0
Cool Music                         8.0
Harry Potter Publishing Rights     8.0
TSBD Canada Productions            8.0
Samuel Goldwyn Films               7.5
United Plankton Pictures           7.0
Lipsync Productions                7.0
Nickelodeon Animation Studios      7.0
P of A Productions Limited         7.0
Aramid Entertainment Fund          7.0
Second Mate Productions            7.0
Iron Film                          7.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [224]:
top1=round(1*data.imdb_id.count()/100)
data.sort_values('vote_average',ascending=False).head(top1)
answers['26'] ='26. The Dark Knight итд'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [225]:
cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_togever']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_togever.tolist()
list2 = itertools.chain(*list1)
cnt = Counter(list2).most_common(10)
cnt
answers['27'] ='27. Daniel Radcliffe and Rupert Grint, Daniel Radcliffe and Emma Watson'

# Submission

In [233]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides',
 '2': '2.Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '4. 109.65',
 '5': '5. 107',
 '6': '6. Avatar',
 '7': '7. The Lone Ranger',
 '8': '8. 1478',
 '9': '9. The Dark Knight',
 '10': '10. The Lone Ranger',
 '11': '11. Drama',
 '12': '12. Adventure',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. Steven Soderbergh, McG',
 '24': '24. Four By Two Productions',
 '25': '25. Twentieth Century Fox Film Corporation|Four By Two Productions',
 '26': '26. The Dark Knight итд',
 '27': '27. Daniel Radcliffe and Rupert Grint, Daniel Radcliffe and Emma Watson',
 '13': '13. Peter Jackson'}

In [232]:
# и убедиться что ни чего не пропустил)
len(answers)

26